<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="site/head::head(${commons.site_title()},${commons.google_site_verification()}, ${commons.baidu_site_verification()})"></div>




<body>

    

    	<!-- header -->

        <div th:replace="site/header::header"></div>


        <!-- header -->

        <!-- main -->

        <main role="main-inner-wrapper" class="container">

        	

            <div class="row">

            

            	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                	<article role="pge-title-content">

                    	<header>

                        	<h2><span>Hi! </span>欢迎访问我的网站</h2>

                        </header>

                        <p>这是一个Java学习和开发的博客网站</p>

                    </article>

                </section>

                

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                	<article class="about-content">

                    	<p>从我记事起，我就独自一个照看这历代星辰。</p>

                        <p>我想变成一棵树，开心时，在秋天开花。伤心时，在春天落叶。</p>

                    </article>

                </section>

                

                <div class="clearfix"></div>

                

                <!-- thumbnails -->

                	<div class="thumbnails-pan" >

                        <div><img src="\site\images\about-images\about-image-1.png"></div>


                    </div>





                <!-- thumbnails -->




                

            </div>

        </main>

    	<!-- main -->

        <!-- footer -->

        <div th:replace="site/footer::footer(${commons.site_title()},${commons.site_record()},${commons.site_url()})"></div>

</body>
</html>